<!DOCTYPE html>
html lang="en"
head
	meta charset="UTF-8"
	title 
	meta name="viewport" content="width=device-width, initial-scale=1"
	link rel="stylesheet" href="css/sourse.css"
	link rel="stylesheet" href="css/owl.carousel.css"/
	script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"	
	script src='js/main.js'
	script src="js/owl.carousel.min.js"
body
	.conteiner
		.selected_item
			.view
				img src="img/item_1.png" alt="item_1"
			.discription
				.title 
					p For gamers by gamers TEE
				.article
					p 
						|Item #: 
						span 701642853695
				.prise
					p.old_prise 
						|$
						span 29.50
					p.new_prise 
						|$
						span 19.99
				.rate
					span &#9733;
					span &#9733;
					span &#9733;
					span &#9733;
					span &#9733;
				.share
					p Share it!
					.social_link
						a href="#" target="_blank"
							img src="img/facebook.png" alt="Facebook"/
						a href="#" target="_blank"
							img src="img/twitter.png" alt="Twitter"/
						a href="#" target="_blank"
							img src="img/pinteres.png" alt="Pinteres"/
						a href="#" target="_blank"
							img src="img/youtube.png" alt="You Tube"/
						img.close src="img/close.png" alt="close"/
				.discription_item
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				.size_item
					p size:
					label.radio_size
						input type="radio" name="size" value="XS"/
						.radio_text_size
					label.radio_size
						input type="radio" name="size" value="S"/
						.radio_text_size
					label.radio_size
						input type="radio" name="size" value="M"/
						.radio_text_size
				.color_item
					p color:
					label.radio_color
						input type="radio" name="color"/
						.radio_text_color
					label.radio_color
						input type="radio" name="color"/
						.radio_text_color
					label.radio_color
						input type="radio" name="color"/
						.radio_text_color
					label.radio_color
						input type="radio" name="color"/
						.radio_text_color
				a.add_to_cart href="#" add to cart
		.may_like
			.title
				p YOU MAY ALSO LIKE
			.items_block
				.item
					img src="img/item_2.png" alt="item_2"/
					.item_prises
						p.prise.sale
							|$
							span 29.99
						p.new_prise
							|$
							span 19.99
					p.item_title For gamers by gamers TEE

				.item
					img src="img/item_3.png" alt="item_3"/
					.item_prises
						p.prise.
							|$
							span 22.00
						p.new_prise
							|$
							span 
					p.item_title PRO gamer SLASH HOODIE

				.item
					img src="img/item_4.png" alt="item_4"/
					.item_prises
						p.prise
							|$
							span 24.99
						p.new_prise
							|$
							span 
					p.item_title spectroom GAMER TEE

				.item
					img src="img/item_5.png" alt="item_5"/
					.item_prises
						p.prise.sale
							|$
							span 29.99
						p.new_prise
							|$
							span 19.99
					p.item_title GAMING FOR GOOD TEE

				.item
					img src="img/item_6.png" alt="item_6"/
					.item_prises
						p.prise.
							|$
							span 60.00
						p.new_prise
							|$
							span 
					p.item_title spectroom web hoodie

				.item
					img src="img/item_7.png" alt="item_7"/
					.item_prises
						p.prise.
							|$
							span 64.00
						p.new_prise
							|$
							span 
					p.item_title spectroom varsity hoodie